@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

.body {
    font-family: 'Poppins', sans-serif;
}

.loginpage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 45, 45, 0.699);
    z-index: 500;
    transition: all 0.3s ease-out;
}

.loginhalf2 {
    align-items: center;
    z-index: 500;
    width: 100vw;
    position: fixed;
    transition: all 0.3s ease-out; 
}

.loginform {
    display: block;
    height: 20rem;
    width: 40rem;
    border: gray;
    box-shadow: rgba(128, 128, 128, 0.144) .0rem .0rem .0rem .3rem;
    border-radius: 2rem;
    margin: 20rem auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.bx {
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-top: 2rem;
}

.flogo {
    margin-top: 3rem;
}

.seperator {
    font-family: 'Poppins' sans-serif;
    margin-top: 1rem;
    font-style: normal;
    color: rgb(139, 137, 137);
}

.logbtn,
.logbtn1 {
    padding: .5rem 1rem;
    font-family: 'Poppins' sans-serif;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-radius: .5rem;
    background-color: rgb(30, 126, 252);
    /* width: 8rem; */
    color: white;
    border: none;
    cursor: pointer;
}

.sign1 {
    font-family: 'Poppins' sans-serif;
    margin-top: 1rem;
    font-style: normal;
    color: rgb(252, 30, 67);
}

.logbtn1 {
    margin-right: 1rem;
    margin-top: 2rem;
}

.reg {
    margin-top: 2rem;
    font-family: 'Poppins' sans-serif;
    font-size: 1.5rem;
}

.close1 {
    font-size: 4rem;
    font-weight: 500;
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.regpage {
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.473);
    align-items: center;
    width: 100vw;
    z-index: 500;
    width: 100vw;
    position: fixed;
    transition: all 0.3s ease-out;
}

.regform {
    display: block;
    height: 50rem;
    width: 50rem;
    border: gray;
    box-shadow: rgba(128, 128, 128, 0.144) .0rem .0rem .0rem .3rem;
    border-radius: 2rem;
    margin: 10rem auto;
    text-align: center;
    background: white;
    overflow: scroll;
}

.Rbx {
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
}

.dob {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.closex {
    color: white;
    font-size: 8rem;
    float: right;
    margin-right: 8rem;
    cursor: pointer;
}



.PhoneInputCountryIcon {
    font-size: 2rem;
}
.PhoneInputCountrySelectArrow{
    font-size: 2rem;
}
.PhoneInput{
    justify-content: center;
    margin-top: 2rem;
}

.PhoneInputInput{
    font-size: 2rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.PhoneInputCountry {
    margin-left: 2rem;
}

.otpbox{
    font-size: 2rem;
    border: 0.2rem solid rgb(235, 235, 235);
    border-radius: 0.5rem;
    padding: 1rem;
}
.vtitle{
    font-size: 2rem;
    padding: 2rem 2rem 0rem 2rem;
    font-weight: bold;
    color: rgb(0, 162, 255);
}
.cverify{
    font-size: 2rem;
    padding-bottom: 1rem;

}
.errmsg{
    font-size: 1.5rem;
    color: rgba(138, 41, 41, 0.74);
}
.verbtn{
    padding: .5rem 1rem;
    font-family: 'Poppins' sans-serif;
    font-size: 1.5rem;
    border-radius: .5rem;
    background-color: rgb(30, 126, 252);
    color: white;
    border: none;
    cursor: pointer;
}