@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

.body {
    font-family: 'Poppins', sans-serif;
}

a {
    cursor: pointer;
}

.footer {
    width: 100vw;
    background: #00afefc5;
    height: 20rem;
}

.footcontainer {
    display: flex;
    margin: 5rem 10rem;
    padding-top: 2rem;
}

.foot1 {
    flex: 1;
    order: 1;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}

.foot2 {
    flex: 1;
    order: 2;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}

.foot3 {
    flex: 1;
    order: 3;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}

.foot4 {
    flex: 1;
    order: 4;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}


/* .foottext {
    text-align: center;
} */

.footbtn {
    text-decoration: none;
    font-size: 2rem;
    padding: .5rem 1.5rem;
    background: #00afefc5;
    color: white;
    border-radius: 1rem;
}

.footlink {
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Advent Pro', sans-serif;
    text-decoration: none;
    text-align: center;
}