@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

.body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
}

.mainpage {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to right bottom, #ff000079, #eeff007c), url(./Image-Files/homepic3.png);
    overflow: hidden;
}

.logo1 {
    float: left;
    margin-top: 2rem;
    margin-left: 5rem;
}

.loginbtnn {
    float: right;
    margin-top: 2rem;
    margin-right: 5rem;
    border: none;
    cursor: pointer;
    background-color: #be4535;
    padding: 1rem 4rem;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

.searchbox {
    display: block;
    margin-top: 12rem;
    margin-left: 30rem;
}

.items {
    display: block;
    margin-top: 3rem;
    margin-left: 25rem;
}

.background {
    background-color: rgba(255, 255, 255, 0.288);
    width: 60vw;
    height: 51vh;
    border-radius: 2rem;
    display: flex;
    position: relative;
}

.cardcontainer {
    flex: 1;
    order: 1;
    position: relative;
    -webkit-perspective: 150rem;
    text-decoration: none;
    /* height: 100%;
  width: 100%; */
}

.card {
    position: absolute;
    transform-style: preserve-3d;
    transition: all .8s ease;
    height: 46vh;
    width: 18vw;
    margin: 1.5rem;
    text-decoration: none;
}

.card:hover {
    transform: rotateY(180deg);
}

.card__side1a {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgba(162, 0, 255, 0.568);
    border-radius: 1rem;
    text-decoration: none;
}

.card__side2a {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgb(119, 168, 40);
    transform: rotateY(180deg);
    border-radius: 1rem;
    text-decoration: none;
}

.card__side1b {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgba(226, 10, 10, 0.658);
    border-radius: 1rem;
    text-decoration: none;
}

.card__side2b {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgb(36, 154, 223);
    transform: rotateY(180deg);
    border-radius: 1rem;
    text-decoration: none;
}

.card__side1c {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgba(109, 15, 96, 0.658);
    border-radius: 1rem;
    text-decoration: none;
}

.card__side2c {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgb(197, 15, 46);
    transform: rotateY(180deg);
    border-radius: 1rem;
    text-decoration: none;
}

.find {
    text-align: center;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
}

.txt1 {
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    color: #b1ea16;
    margin-top: 4rem;
    font-family: 'Poppins', sans-serif;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}

.backclear {
    background: none;
    border: none;
}

.back {
    margin-top: 3rem;
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    color: #b1ea16;
    font-family: 'Poppins', sans-serif;
}

.whitetext {
    color: white;
    text-decoration: none;
}

.type {
    padding: .5rem 1rem;
    width: 30rem;
    border-radius: 1rem;
    opacity: .7;
    border: none;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 1rem;
}

.findbtn {
    text-decoration: none;
    padding: .5rem 1.5rem;
    font-size: 2.4rem;
    border-radius: 1rem;
    color: white;
    background: rgba(162, 0, 255, 0.438);
    margin-left: 4rem;
    font-family: 'Poppins', sans-serif;
}

.register {
    font-size: 3rem;
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.767);
    color: #be4535;
    padding: .5rem 1rem;
    border: none;
    margin-top: 3rem;
    margin-left: 50rem;
}

.register:hover {
    background: #be4535;
    color: white;
}

.notice {
    color: whitesmoke;
    text-align: center;
    margin-top: 12rem;
}

.search {
    text-decoration: none;
    padding: .7rem .7rem;
    border: none;
    background: #be4535;
    color: white;
    border-radius: 1rem;
    margin-left: 1rem;
    padding: .5rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.copyright {
    color: white;
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
}

.lbtn {
    border: none;
    background: none;
}

.logshow {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}