@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

.body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: blue;
}

.howto {
    width: 100%;
    height: 45rem;
    background: rgb(255, 255, 255);
    padding: 3rem 1rem -1rem 1rem;
}

.container {
    display: flex;
}

.lines {
    flex: 1;
    order: 1;
    /* width: 50%; */
    font-family: 'Advent Pro', sans-serif;
    /* font-size: 1rem; */
    font-weight: 600;
}

.lines h1 {
    font-size: 2rem;
}

.video {
    flex: 1;
    order: 2;
    width: 50%;
}

.vid {
    width: 100%;
    height: 100%;
}

.read {
    text-decoration: none;
    background: #00afefc5;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: white;
}